body {
        background: url('3.jpeg') no-repeat;
		background-size: cover;}
#restart {
    width: 36%;
	margin-bottom: 20px;
	margin-left: 100px;
	border: none;
	outline: none;
	height: 40px;
	background: #006400;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.board {
	margin-top: 100px;
	margin-left: 600px;
}
