body{
background: url('1.png') no-repeat;
background-size: cover;
}
h1{

	padding: 400px 0 0px; /*top,right,bottom,left*/
	text-align: center;
	font-size: 70px;	
        font-weight:bold;
        text-shadow: 2px 2px;}
a{
        padding: 0px 0 0px 700px; /*top,right,bottom,left*/
	
        color:#000;
	font-size: 30px;
        font-weight:bold;
        }
a:hover{
color:#008000;
}
